<html>
  <head>
    <title>
      ite
    </title>
    <script src="/static/jquery-2.0.3.min.js"></script>
    <script src="/static/jquery.ba-outside-events.min.js"></script>
    <script src="/static/knockout-2.3.0.js"></script>
    <script src="/static/lodash.min.js"></script>
    <script src="/static/diff_match_patch.js"></script>
    <script src="/static/backbone.js"></script>
    <script src="/static/codemirror-compressed.js"></script>
    <link rel="stylesheet" href="/static/codemirror.css">
    <link rel="stylesheet" href="/static/dark.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/util.js"></script>
    <script src="/static/it2.js"></script>
  </head>
  <body>
    <!-- it's alive
    <br/>
    <button class="button" data-bind="value: open,	
                       event: {click: $root.open}">
      open/search
    </button> &nbsp;&nbsp;&nbsp;
    <button class="button" data-bind="value: execute,	
                       event: {click: $root.execute}">
      execute
    </button>
    <br/> -->
    <div id="edit"></div>
    <table>
        <tr id="top">
        </tr>
    </table>
  </body>
</html>
